@{
    ViewBag.title = "Cây gia phả - Phả hệ phả đồ " + ViewBag.title_des;
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
}
<style>
    .modal {
        background-color: #00ff21;
        width: 80%;
        position: fixed;
        left: 10%;
        display: none;
        float: left;
        top: 20%;
    }
</style>
@*<link rel="stylesheet" href="/Scripts/tree/font-awesome.min.css">*@
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/Scripts/tree/dist/css/jquery.orgchart.css">
<link rel="stylesheet" href="/Scripts/tree/style.css">
<h2>Cây gia phả, Phả hệ phả đồ @ViewBag.title_des</h2>
<script>
    var AllTree=@Html.Raw(ViewBag.allTree);
    var max_id=-1;
    max_id=@ViewBag.max_id;
    var allTreeItem=[];
    var user_id = @ViewBag.user_id;
    var group_id =@ViewBag.group_id;
</script>
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8&appId=1725256021138211";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div id="chart-container" style="width:100%;position:relative;display:block; overflow: scroll;min-height:500px;"></div>
<div style="width:100%;position:relative;display:block;">
    <div id="selected-node"></div>&nbsp;<div id="selected-node-title"></div>
</div>
<div class="home-link">
    <div class="fb-like" data-href="http://vietgiapha.com/GiaPha/Share?user_id=@ViewBag.user_id&group_id=@ViewBag.group_id&dir=@ViewBag.dir&depth=4" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
    <i class="fa fa-star"></i>
    <a href="/">Về trang chủ</a>
    <i class="fa fa-star"></i>    
    <a href="#" onclick="showShareLink();">Chia sẻ link</a>
    <i class="fa fa-star"></i>
    Kiểu hiển thị: <a href="/GiaPha/Share?user_id=@ViewBag.user_id&group_id=@ViewBag.group_id&dir=l2r">Từ trái qua phải</a>
    <i class="fa fa-star"></i>
    <a href="/GiaPha/Share?user_id=@ViewBag.user_id&group_id=@ViewBag.group_id&dir=r2l">Từ phải qua trái</a>
    <i class="fa fa-star"></i>
    <a href="/GiaPha/Share?user_id=@ViewBag.user_id&group_id=@ViewBag.group_id&dir=t2b">Từ trên xuống dưới</a>
    <i class="fa fa-star"></i>
    <a href="/GiaPha/Share?user_id=@ViewBag.user_id&group_id=@ViewBag.group_id&dir=@ViewBag.dir&depth=4">Thu nhỏ gia phả</a>
    <i class="fa fa-star"></i>
    <a href="/GiaPha/Share?user_id=@ViewBag.user_id&group_id=@ViewBag.group_id&dir=@ViewBag.dir&depth=114">Phóng to gia phả</a>
    <i class="fa fa-star"></i>
</div>
<div class="modal fade" id="modal_sharesocial" tabindex="-1" role="dialog" aria-labelledby="modal_sharesocialLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="hideShareLink();">×</button>
                <h4 class="modal-title" id="modal_sharesocialLabel">Đường dẫn bên dưới là địa chỉ chia sẻ, bạn có thể gửi cho người khác qua email hoặc paste lên mạng xã hội </h4>
            </div>
            <textarea id="holdtext" class="holdtext" style="display:none;"></textarea>
            <div class="modal-body"><form id="frmShareLink"><div class="form-horizontal"><div class="form-group"><div class="input-group"><input class="form-control" id="inputShareLink" name="inputShareLink" type="text" style="width:80%;" value="http://vietgiapha.com/GiaPha/Share?user_id=@ViewBag.user_id&group_id=@ViewBag.group_id&dir=@ViewBag.dir&depth=@ViewBag.depth"><span class="input-group-btn"><button type="button" class="btn btn-default" id="btnShareLink"><i class="fa fa-copy"></i></button></span></div></div></div></form></div>

        </div>
    </div>
</div>
<script type="text/javascript" src="/Scripts/tree/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/Scripts/tree/html2canvas.min.js"></script>
<script type="text/javascript" src="/Scripts/tree/dist/js/jquery.orgchart.js"></script>
<script type="text/javascript" src="/Scripts/tree/jspdf.debug.js" ></script>
@*<script type="text/javascript" src="/Scripts/tree/scripts.js"></script>*@
<script>
(function($){

    $(function() {
        var datascource =AllTree;
        var ttNode="";
    var getId = function() {
        //return (new Date().getTime()) * 1000 + Math.floor(Math.random() * 1001);
        max_id=max_id+1;
        //alert(max_id);
        return max_id;
    };
    
    $('#chart-container').orgchart({
      'data' : datascource,
      'exportButton': true,
      'exportFilename': 'GiaPha',
      'exportFileextension': 'png',
      'parentNodeSymbol': 'fa-th-large',
      'nodeContent': 'title',
      'nodeId': 'id',
      'nodeTitle': 'name',
      'direction': '@ViewBag.dir',
      'verticalDepth': @ViewBag.depth,
      'createNode': function($node, data) {
          $node[0].id = data.id;
          $node[0].nodeTitle=data.nodeTitle;
              //getId();
      }
    }).on('click', '.node', function() {
        var $this = $(this);
        $('#selected-node').html($this.find('.title').text()).data('node', $this);    
        $('#selected-node-title').html($this.find('.content').text()).data('node', $this);  
        var $node = $('#selected-node').data('node');
        //alert($this.find('.title').text()+'-'+$this.find('.content').text()+'-'+$node[0].id);
    })    
    .on('click', '.orgchart', function(event) {
      if (!$(event.target).closest('.node').length) {
        $('#selected-node').val('');
      }
    });

    $('input[name="chart-state"]').on('click', function() {
      $('.orgchart').toggleClass('view-state', this.value !== 'view');
      $('#edit-panel').toggleClass('view-state', this.value === 'view');
      if ($(this).val() === 'edit') {
        $('.orgchart').find('tr').removeClass('hidden')
          .find('td').removeClass('hidden')
          .find('.node').removeClass('slide-up slide-down slide-right slide-left');
      } else {
        $('#btn-reset').trigger('click');
      }
    });
    $('.orgchart').toggleClass('view-state', this.value !== 'view');
    $('#edit-panel').toggleClass('view-state', this.value === 'view');
    $('.orgchart').find('tr').removeClass('hidden')
      .find('td').removeClass('hidden')
      .find('.node').removeClass('slide-up slide-down slide-right slide-left');

    $('input[name="node-type"]').on('click', function() {
      var $this = $(this);
      if ($this.val() === 'parent') {
        $('#edit-panel').addClass('edit-parent-node');
        $('#new-nodelist').children(':gt(0)').remove();
      } else {
        $('#edit-panel').removeClass('edit-parent-node');
      }
    });

    

    

  });

})(jQuery);
    //document.getElementById("rd-edit").checked=true;
    var copyTextareaBtn = document.querySelector('#btnShareLink');
    copyTextareaBtn.addEventListener('click', function (event) {
        var copyTextarea = document.querySelector('#inputShareLink');
        copyTextarea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'Đã sao chép để chia sẻ' : 'unsuccessful';
            alert("Đã copy thành công! Dán link này vào bất kỳ ứng dụng nào bạn muốn!");
        } catch (err) {
            console.log('Oops, unable to copy');
        }
    });

    function showShareLink(){
        $("#modal_sharesocial").show();
    }
    function hideShareLink(){
        $("#modal_sharesocial").hide();
    }
</script>