<ul class="nav" id="side-menu">
    <li>
        <a href="/" target="_blank"><i class="fa icon-home fa-fw"></i> Trang chủ</a>
    </li>
    <li>
        <a href="/Business/Index"><i class="fa fa-list fa-fw"></i> Quản lý doanh nghiệp <span class="fa arrow"></span></a>
    </li>

    <li>
        <a href="/gallery/Index"><i class="fa fa-image fa-fw"></i> Quản lý thư viện ảnh <span class="fa arrow"></span></a>
    </li>
    
</ul>

