@model List<gpw.Models.thanh_vien>
<div class="col-md-12 item_thanhvien border_w0">
    <h3>Thành viên mới nhất:</h3>
    <ul id="person_flat">
        <li><a href="#">Phạm Văn Thành</a>, </li>
        <li><a href="#">Phạm Thị Ngân</a>, </li>
        <li><a href="#">Nguyễn Văn Nam</a>, </li>
        <li><a href="#">Nguyễn Thành Nam</a>, </li>
        <li><a href="#">Dương Thúy Nhàn</a>,</li>
        <li><span>...</span></li>
        @*<li><a href="#"><img src="~/images/person-girl-flat.png" /></a></li>*@
    </ul>

    @if (Model != null)
    {
        
            @foreach (var item in Model)
            {
                <a href="/Home/profile/@item.id" style="padding: 5px;">@item.ho_ten</a>
            }
      
    }
</div>