@*@model List<gpw.Models.news>*@

<div class="newshot">
    <!--Our Agent Warp Start-->
    <section class="kf_our_agent_bg box_giapha panel">
        <!--Heading Wrap Start-->
        <div class="kf_heading_1 panel-heading">
            <h3>Doanh nghiệp họ Dương</h3>

        </div>
        <!--Heading Wrap End-->
        <!--Agent List Wrap Start-->
        <div class="panel-body">
            <div class="kf_agent_slider owl-carousel owl-theme">

                <div class="item">
                    <div class="kf_agent_wrap">
                        <a href="http://www.himlam.com/" target="_blank" style="width: 265px; text-align: center;" title="Công ty cổ phần HimLam">
                            <figure>
                                <img src="~/images/himlam-logo-web.png" alt="Công ty cổ phần HimLam" style="width: 100%;height: 100px;" title="Công ty cổ phần HimLam">
                                <figcaption>
                                    <span class="kf_listing_overlay">Công ty cổ phần HimLam</span>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="kf_agent_wrap">
                        <a href="http://www.lienvietpostbank.com.vn/" target="_blank" style="width: 265px; text-align: center;" title="Ngân hàng bưu điện Liên Việt">
                            <figure>
                                <img src="~/images/lienviet_dnhd.jpg" alt="Công ty cổ phần HimLam" style="width: 100%;height: 100px;" title="Ngân hàng bưu điện Liên Việt">
                                <figcaption>
                                    <span class="kf_listing_overlay">Ngân hàng bưu điện Liên Việt</span>
                                </figcaption>
                            </figure>
                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="kf_agent_wrap">
                        <a href="http://vattubaobihongquang.com/" target="_blank" style="width: 265px; text-align: center;" title="Công ty cổ phần thương mại Hồng Quảng">
                            <figure>
                                <img src="~/images/hongquang_dnhd.jpg" alt="Công ty cổ phần thương mại Hồng Quảng" style="width: 100%;height: 100px;" title="Công ty cổ phần thương mại Hồng Quảng">
                                <figcaption>
                                    <span class="kf_listing_overlay">Công ty cổ phần TM Hồng Quảng</span>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="kf_agent_wrap">
                        <a href="http://lienvietlogistics.com.vn/" target="_blank" style="width: 265px; text-align: center;" title="Công ty cổ phần Liên Việt Logistics">
                            <figure>
                                <img src="~/images/Untitled-1-e1470989012948.png" alt="Công ty cổ phần Liên Việt Logistics" style="width: 100%;height: 100px;" title="Công ty cổ phần Liên Việt Logistics">
                                <figcaption>
                                    <span class="kf_listing_overlay">Công ty cổ phần Liên Việt Logistics</span>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="kf_agent_wrap">
                        <a href="http://cameraanviet.com/" target="_blank" style="width: 265px; text-align: center;" title="Công ty cổ phần kỹ nghệ An Việt">
                            <figure>
                                <img src="~/images/logo-camera-an-viet.png" alt="Công ty cổ phần kỹ nghệ An Việt" style="width: 100%;height: 100px;" title="Công ty cổ phần kỹ nghệ An Việt">
                                <figcaption>
                                    <span class="kf_listing_overlay">Công ty cổ phần kỹ nghệ An Việt</span>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="kf_agent_wrap">
                        <a href="http://www.inoxthienquang.com.vn/" target="_blank" style="width: 265px; text-align: center;" title="Công ty cổ phần tập đoàn Thiên Quang">
                            <figure>
                                <img src="~/images/Logo-Thien-quang_convert-font.png" alt="Công ty cổ phần tập đoàn Thiên Quang" style="width: 100%;height: 100px;" title="Công ty cổ phần tập đoàn Thiên Quang">
                                <figcaption>
                                    <span class="kf_listing_overlay">Công ty cổ phần tập đoàn Thiên Quang</span>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                </div>

                <div class="item">
                    <div class="kf_agent_wrap">
                        <a href="http://digitech.com.vn/" target="_blank" style="width: 265px; text-align: center;" title="Công ty TNHH Công nghệ số Digitech">
                            <figure>
                                <img src="~/images/banner_khoinguyenlogo.jpg" alt="Công ty TNHH Công nghệ số Digitech" style="width: 100%;height: 100px;" title="Công ty TNHH Công nghệ số Digitech">
                                <figcaption>
                                    <span class="kf_listing_overlay">Công ty TNHH Công nghệ số Digitech</span>
                                </figcaption>
                            </figure>

                        </a>
                    </div>
                </div>

                

            </div>
        </div>
        <!--Agent List Wrap End-->
    </section>
    <!--Our Agent Warp End-->
</div>
