@{
    ViewBag.Title = "Giả phả họ Dương Việt Nam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        width: 1170px !important;
    }
</style>

<div class="gia_pha_main">
    <!--Our Agent Warp Start-->
    <section class="kf_our_agent_bg box_giapha panel">
        <!--Heading Wrap Start-->
        <div class="kf_heading_1 panel-heading">
            <h3>Gia phả họ dương</h3>
        </div>
        <!--Heading Wrap End-->
        <!--Agent List Wrap Start-->
        <div class="panel-body">

            <div id="gia_pha_0">
                @*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <div id="chart_div"></div>*@
                <!--
                We will create a family tree using just CSS(3)
                The markup will be simple nested lists
                -->
                <div class="tree">
                    <ul id="tree_main">
                        <li style="width: 100%;
    margin-left: -22px;
    margin-top: 11px;">
                            <a href="#" class="tree_sub bg_ph" style="font-size: 20px !important;">
                                <span>Gia phả dòng họ Dương</span>
                            </a>
                            <ul class="tree_11">
                                <li style="width: 1232px;
    margin: 0 auto;
    margin-left: -123px;">
                                    <a href="#" class="tree_sub_0">
                                        Cụ Dương Văn A
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#" class="tree_sub_1">
                                                Bà Phạm Thị B
                                            </a>
                                            <a href="#" class="tree_sub_1">
                                                Ông Dương Văn B
                                            </a>
                                            <ul>
                                                <li class="sub_2">
                                                    <a href="#" class="tree_sub_2">
                                                        Nguyễn Thị C1
                                                    </a>
                                                    <a href="#" class="tree_sub_2">
                                                        Dương Văn B1
                                                    </a>
                                                    <ul class="tree_lv3">
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn B1.1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn B1.2
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="sub_2">
                                                    <a href="#" class="tree_sub_2">
                                                        Nguyễn Thị B2
                                                    </a>
                                                    <a href="#" class="tree_sub_2">
                                                        Dương Văn B2
                                                    </a>
                                                    <ul class="tree_lv3">
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn B2.1

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn B2.2

                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li class="sub_2">
                                                    <a href="#" class="tree_sub_2">
                                                        Dương Văn B3
                                                    </a>
                                                    <ul class="tree_lv3">
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn B3.1
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="tree_sub_1">
                                                Bà Nguyễn Thị A
                                            </a>
                                            <a href="#" class="tree_sub_1">
                                                Ông Dương Văn C
                                            </a>
                                            <ul>
                                                <li>
                                                    <a href="#" class="tree_sub_2">
                                                        Nguyễn Thị C1
                                                    </a>
                                                    <a href="#" class="tree_sub_2">
                                                        Dương Văn C1

                                                    </a>
                                                    <ul class="tree_lv3">
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn C1.1

                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn C1.2

                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="tree_sub_2">
                                                        Phạm Thị C2
                                                    </a>
                                                    <a href="#" class="tree_sub_2">
                                                        Dương Văn C2
                                                    </a>
                                                    <ul class="tree_lv3">
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn C2.1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn C2.2
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#" class="tree_sub_2">
                                                        Dương Văn C3
                                                    </a>
                                                    <ul>
                                                        <li>
                                                            <a href="#" class="tree_sub_3">
                                                                Dương Văn C3.1
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="tree_sub_1">
                                                Bà Phạm Thị D
                                            </a>
                                            <a href="#" class="tree_sub_1">
                                                Ông Dương Văn D
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--Agent List Wrap End-->
    </section>
    <!--Our Agent Warp End-->
</div>

@section scripts {

    <script>

        $(document).ready(function () {
            $('#gia_pha_0').map(function () {

            })

        })

        var json_gp = {

        };


        //google.charts.load('current', { packages: ["orgchart"] });
        //google.charts.setOnLoadCallback(drawChart);

        //function drawChart() {
        //    var data = new google.visualization.DataTable();
        //    data.addColumn('string', 'Name');
        //    data.addColumn('string', 'Manager');
        //    data.addColumn('string', 'ToolTip');

        //    // For each orgchart box, provide the name, manager, and tooltip to show.
        //    data.addRows([
        //      [{ v: 'Mike', f: 'Mike<div style="color:red; font-style:italic">President</div>' },
        //       '', 'The President'],
        //      [{ v: 'Jim', f: 'Jim<div style="color:red; font-style:italic">Vice President</div>' },
        //       'Mike', 'VP'],
        //      ['Alice', 'Mike', ''],
        //      ['Bob', 'Jim', 'Bob Sponge'],
        //      ['Carol', 'Bob', '']
        //    ]);

        //    // Create the chart.
        //    var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        //    // Draw the chart, setting the allowHtml option to true for the tooltips.
        //    chart.draw(data, { allowHtml: true });
        //}

    </script>

}