@{
    ViewBag.title = "Cách lập gia phả, mẫu sơ đồ gia phả dòng họ Việt Nam";
    ViewBag.des = "Vietgiapha là đơn vị tiên vị tiên phong và có nhiều năm kinh nghiệm lập gia phả dòng họ Việt Nam uy tín, chất lượng. Hướng dẫn cách lập gia phả nhanh chóng.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row col-md-12" style="background-color:#ffffff">
    <!--Our Agent Warp Start-->
    <div class="col-md-12">
        <!--Heading Wrap Start-->
        <div class="col-md-12">
            <h3>Giới thiệu Mạng xã hội gia phả</h3>
        </div>
        <!--Heading Wrap End-->
        <!--Agent List Wrap Start-->
        <div class="col-md-12">
            <p>“Con người có tổ có tông. </p>
            <p>Như cây có cội như sông có nguồn”.</p>
            <p> Truyền thống nhớ ơn tổ tiên, đạo lý uống nước nhớ nguồn đã trở thành một trong những nét đẹp văn hoá lâu đời của dân tộc Việt Nam. Hiểu được tầm quan trọng của truyền thông tốt đẹp này, website vietgiapha.com ra đời nhầm lưu giữ, nối kết, tôn vinh những giá trị văn hoá lâu đời của mọi <strong>dòng họ Việt Nam. </strong></p>
            <strong>1. Giới thiệu chung về vietgiapha.com</strong>
            <p> </p>
            <p>&nbsp;&nbsp;<strong>Gia phả là gì? <em>Gia phả</em></strong><em> hay được gọi là gia phổ để ghi chép tên họ, tuổi tác, ngày giỗ, vai trò và công đức của cha mẹ, ông bà, tổ tiên phần mộ của một gia đình lớn hay một dòng họ</em></p>
            <p>Website vietgiapha.com là một mạng xã hội <strong>gia phả đầu tiên </strong>và duy nhất của Việt Nam. Web ra đời là một công trình nhằm phục vụ và lưu trữ, quảng bá thông tin của <strong>các dòng họ Việt Nam</strong>. Ngoài ra, với hệ thống lưu trữ <strong>gia phả </strong>trực tuyến sẽ giúp bạn ghi nhớ ngày giỗ, lưu trữ những kỉ vật, truyền thống văn hoá quý báu của gia đình, <strong>dòng họ</strong> để truyền lại cho con cháu đời sau.</p>
            <strong>2. Những tính năng và công dụng đặc biệt của website vietgiapha</strong>
            <p> </p>
            <p>&nbsp;&nbsp;Website là một trong những công cụ trực tuyến tạo lập <strong>cây gia phả dòng họ, </strong> cung cấp những <strong> mẫu gia phả dòng họ đẹp, mẫu gia phả dòng họ </strong>miễn phí, lưu trữ phần mộ cho gia đình và nghĩa trang theo hình thức dễ dàng, dễ tìm kiếm</p>
            <p>Website được trang bị những ứng dụng tích hợp cao, bài trí hài hoà bắt mắt với nhiều chức năng được tối ưu hoá tốt nhất trong việc sử dụng tạo lập <strong>cây gia phả, phả hệ… </strong>Đặc biệt, web còn cung cấp <strong>phần mềm gia phả </strong> trực tuyến với các <strong> mẫu gia phả </strong> phong phú đa dạng tuỳ theo nhu cầu của khách hàng</p>
            <p>Website có phần mềm tạo dựng <strong> cây gia phả </strong> trực tuyến – là một trong những chức năng chính và tạo điểm khác biệt, ưu thế để đáp ứng yêu cầu của việc cập nhật <strong> cây phả đồ  </strong>từ bất kì thành viên nào. Ngoài ra, nó còn có thể truy tì ngược các thành viên trong dòng tộc để dễ dàng kết nối các dòng họ với nhau tìm ra gốc gác tổ tiên</p>
            <p><strong>Điểm đặc biệt:</strong></p>
            <p>Website không chỉ là một web chứa thông tin thông thường mà đây còn được xem là diễn đàn cho các thành viên dễ dàng tìm kiếm, chia sẻ thông tin về <strong>gia phả dòng họ. </strong>Bạn có thể dễ dàng tìm kiếm <strong> gia phả họ Nguyễn, gia phả họ Trần, gia phả nhà Trần, gia phả họ Phạm, gia phả họ Hoàng, gia phả Việt Nam…</strong> thông qua việc truy cập website và tìm kiếm.</p>
            <ul>
                <li>Nơi các thành viên có thể lưu trữ <strong>gia phả online</strong>, tìm kiếm, chia sẻ cây gia phả cho bạn bè, người thân đến mạng xã hội, các diễn đàn, các thành viên có thể tạo gia phả cho gia đình, cho chi họ mình tại địa phương hoặc toàn bộ cây gia phả của dòng tộc toàn quốc và tất cả các thế hệ.</li>
                <li>Nơi các thành viên có thể dễ dàng kết bạn với các thành viên trong dòng họ</li>
                <li>Nơi các doanh nghiệp trong dòng họ có thể giới thiết lĩnh vực kinh doanh, chia sẻ việc làm, tuyển dụng thành viên trong dòng họ, trở thành đối tác kinh doanh cùng giúp đỡ nhau phát triển</li>
            </ul>
            <p> </p>

            <strong>3. Dịch vụ, tiện ích của website vietgiapha.com</strong>
            <p> </p>
            <p>&nbsp;&nbsp;Chúng tôi, những người đã có nhiều kinh nghiệm trong việc <strong> viết gia phả, làm gia phả </strong> cho các dòng tộc, dòng họ - chúng tôi sẽ sẵn sàng tư vấn và giúp bạn hoàn thành trọng trách giữ gìn truyền thống gia đình hiện nay và mai sau bằng cách <strong> lập gia phả </strong>uy tín, chuyên nghiệp nhất.</p>
            <p>Với những <strong> phần mềm gia phả miễn phí,  mẫu gia phả word, cách lập gia phả word, mẫu sơ đồ gia phả dòng họ, </strong>phần mềm hỗ trợ  <strong>cách làm gia phả, cách viết gia phả</strong> có sẵn, bạn sẽ dễ dàng lập được <strong>sơ đồ gia phả </strong>của dòng họ mình Hãy liên hệ với chúng tôi để được tư vấn, giải đáp và hướng dẫn cụ thể từ những bước đầu tiên cho đến khi hoàn tất. Chúng tôi cam kết sẽ <strong>thiết kế gia phả, thiết kế cuốn gia phả...</strong> chuyên nghiệp đẹp mắt, sang trọng và luôn  làm hài lòng quý khách hàng.</p>
            <p>Cảm ơn bạn đã tin tưởng sử dụng dịch vụ của chúng tôi!</p>
            <p>VIỆT GIA PHẢ</p>
            <p>Hotline:097 977 6427</p>
            <p>Email:vnnvh80@gmail.com</p>
            <div class="content_baiviet">
                <a class="btn-primary btn" href="/thiet-ke-gia-pha" style="width:100%;">
                    ĐĂNG KÝ LÀM GIA PHẢ
                </a>
                <a class="btn-info btn" href="tel:0979776427" style="width:100%;">
                    Gọi 097 977 6427
                </a>
            </div>

        </div>
        <!--Agent List Wrap End-->
    </div>
    <!--Our Agent Warp End-->
</div>
