@{
    ViewBag.Title = "Hướng dẫn sử dụng phần mềm gia phả";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="background-color:#ffffff">
    <!--Our Agent Warp Start-->
    <div class="col-md-12">
        <!--Heading Wrap Start-->
        <div class="col-md-12">
            <h3>Hướng dẫn sử dụng phần mềm gia phả</h3>
        </div>
        <!--Heading Wrap End-->
        <!--Agent List Wrap Start-->
        <div class="col-md-12">
            <p><strong>1. Cập nhật nút (sửa tên)</strong></p>
            <p>- Chọn nút cần sửa</p>
            <p>- Sửa tên ở ô text, ấn vào nút Lưu nút này</p>
            <p>- Xem hình hướng dẫn</p>
            <p><img src="~/images/hd1.png"/> </p>
            <p><img src="~/images/hd2.png" /> </p>
            <p><strong>2. Thêm nút mới (nút con, nút anh em) với 1 nút có sẵn</strong></p>
            <p>- Click để Chọn 1 nút cần thêm các nút con hoặc các nút anh em với nút này</p>
            <p>- Ở phần nút mới nhập tên các nút cần thêm (dấu + là thêm nút, dấu - là xóa)</p>
            <p>- Chọn kiểu nút này là Anh em hay là Con của nút đang chọn?</p>
            <p>- Chọn xong ấn vào Thêm nút mới</p>
            <p>- Xem hình hướng dẫn</p>
            <p><img src="~/images/hd3.png" /> </p>
            <p><strong>3. Xóa nút</strong></p>
            <p>- Chọn nút cần xóa</p>
            <p>- Tìm tính năng Xóa nút</p>
            <p>- Xác nhận có xóa nút này và các nút con?</p>
            <p>- Xem hình hướng dẫn</p>
            <p><img src="~/images/hd5.png" /> </p>
            <p><strong>4. Lưu sau khi soạn thảo xong cây dữ liệu</strong></p>
            <p>- Sau khi soạn thảo xong bạn nên click vào nút Lưu cả cây dữ liệu để lưu trữ cây gia phả của mình tránh thất thoát về sau</p>
            <p>- Xem hình hướng dẫn</p>
            <p><img src="~/images/hd4.png" /> </p>

        </div>
        <!--Agent List Wrap End-->
        </section>
        <!--Our Agent Warp End-->
    </div>
