@{
    ViewBag.Title = "Trang chủ";
}

@section meta {
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
}
<link href="~/Content/sld/flexslider.css" rel="stylesheet" />
@*<div class=" row">
        <div class="col-md-12">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline", role = "form", @id = "form_search", style = "float:right;" }))
            {
                <div class="form-group">
                    <input type="search" name="keyword" id="keyword" class="form-control" placeholder="Nhập địa chỉ email hoặc số điện thoại" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
                </div>
            }
        </div>
    </div>*@

<div class="row">
    <div class="col-md-8">
        @{Html.RenderAction("LoadNewHot2");}

        @{Html.RenderAction("LoadNewTopHot2");}
    </div>
    <div class="col-md-4">
        @*<img src="~/images/caudoiphai.png" class="img-responsive" style="display: inline-block;" />
            <img src="~/images/caudoitrai.png" class="img-responsive" style="display: inline-block;" />*@
        <div class="panel panel-default box_giapha">
            <div class="panel-heading kf_heading_1" style="padding: 0;">
                <h3>Tìm kiếm</h3>
            </div>

            <div class="panel-body">
                @*@using (Html.BeginForm("Search", "Home", FormMethod.Post, htmlAttributes: new { @class = "form-inline", role = "form", @id = "form_search" }))
                    {
                        <div class="form-group">
                            <div class="input-group">
                                <input type="search" name="keyword" id="keyword" class="form-control" placeholder="Nhập địa chỉ email hoặc số điện thoại" required />
                            </div>
                        </div>
                        <button class="btn btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
                    }*@
                <div class="search-bar">
                    <form action="/Home/Search" method="GET" role="form" id="form_search">
                        <div class="form-group">
                            <input style="max-width: 100%;" type="text" class="form-control" name="keyword" id="keyword" placeholder="Nhập từ khóa tìm kiếm">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default box_giapha">
            <div class="panel-heading kf_heading_1" style="padding-bottom: 0;">
                <h3>Thống kê thành viên</h3>
            </div>
            <div class="panel-body">
                @*@{Html.RenderAction("DsUser");}*@
                <div class="col-md-12 item_thanhvien">
                    <h3>Thành viên già nhất:</h3>
                    <ul id="person_flat">
                        <li><a href="#">Dương Trung Hiếu</a> <i>Ngày sinh: 4/11/1960</i></li>
                    </ul>
                </div>
                <div class="col-md-12 item_thanhvien">
                    <h3>Thành viên trẻ nhất:</h3>
                    <ul id="person_flat">
                        <li><a href="#">Dương Viết Xuân</a> <i>Ngày sinh: 23/11/2000</i></li>
                    </ul>
                </div>
                <div class="col-md-12 item_thanhvien border_w0">
                    <h3>Thành viên mới nhất:</h3>
                    <ul id="person_flat">
                        <li><a href="#">Dương Thị Mùi</a>, </li>
                        <li><a href="#">Dương Văn Dần</a>, </li>
                        <li><a href="#">Dương Thúy Mùi</a>, </li>
                        <li><a href="#">Dương Văn Nhàn</a>, </li>
                        <li><a href="#">Dương Thúy Nhàn</a>,</li>
                        <li><span>...</span></li>
                        @*<li><a href="#"><img src="~/images/person-girl-flat.png" /></a></li>*@
                    </ul>
                </div>
                
                <a href="#" style="float: right;">Xem tất cả</a>
            </div>
        </div>

        <div class="panel panel-default box_giapha">
            <div class="panel-body">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height: 80px;">

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <p>Đừng so sánh mình với bất cứ ai trong thế giới này. Nếu bạn làm như vậy có nghĩa bạn đang sỉ nhục chính bản thân mình. </p>
                            <b style="float: right; margin-top: 5px;">Bill Gates</b>
                        </div>
                        <div class="item">
                            <p>Ta không được chọn nơi mình sinh ra. Nhưng ta được chọn cách mình sẽ sống.</p>
                            <b style="float: right; margin-top: 5px;">Khuyết danh</b>
                        </div>
                    </div>

                    <!-- Indicators -->
                    <ol class="carousel-indicators" style="bottom: 0;">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active" style="background: #333;"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1" style="background: #333;"></li>
                    </ol>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @*@{Html.RenderAction("LoadNewHot");}*@
        @Html.Partial("_LoadDoanhNghiep")
    </div>
</div>


@*<div class="row">
    <div class="col-md-12">
        @{Html.RenderAction("LoadNewCat");}
    </div>
</div>*@

<div class="row">
    @{Html.RenderAction("LoadNewCat2");}
</div>

@section scripts {
<script src="~/Content/sld/jquery.flexslider-min.js"></script>
    <script>
        if ($('.kf_agent_slider').length) {
            var owl = $(".kf_agent_slider");
            owl.owlCarousel({
                autoPlay: 3000, //Set AutoPlay to 3 seconds
                itemsCustom: [
                  [0, 1],
                  [450, 1],
                  [600, 1],
                  [700, 2],
                  [1000, 3],
                  [1200, 4],
                  [1400, 4],
                  [1600, 4]
                ],
                navigation: true

            });
        }


        $(document).ready(function ($) {
            $('#example5').sliderPro({
                width: 565,
                height: 445,
                orientation: 'vertical',
                loop: false,
                arrows: true,
                buttons: false,
                thumbnailsPosition: 'left',
                thumbnailPointer: true,
                thumbnailWidth: 220,
                breakpoints: {
                    800: {
                        thumbnailsPosition: 'bottom',
                        thumbnailWidth: 270,
                        thumbnailHeight: 100
                    },
                    500: {
                        thumbnailsPosition: 'bottom',
                        thumbnailWidth: 120,
                        thumbnailHeight: 50
                    }
                }
            });
        });

        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: false,
                directionNav: true,
                draggable: false,
            });
        });

    </script>
}
