@{
    ViewBag.Title = "Thiết kế website gia phả dòng họ liên hệ 097 9776427";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container {
        width: 1170px !important;
    }
</style>

<div class="gia_pha_main">
    <!--Our Agent Warp Start-->
    <section class="kf_our_agent_bg box_giapha panel">
        <!--Heading Wrap Start-->
        <div class="kf_heading_1 panel-heading">
            <h3>Dịch vụ Thiết kế website gia phả dòng họ liên hệ 097 9776427</h3>
        </div>
        <!--Heading Wrap End-->
        <!--Agent List Wrap Start-->
        <div class="panel-body">            
            <strong>Thiết kế website gia phả dòng họ</strong>
            <p><strong>Website gia phả</strong> dòng họ là mạng thông tin kết nối tình cảm, tâm linh của các thành viên trong cùng dòng tộc</p>
            <p>Mặc dù các thành viên sinh sống và công tác ở khắp mọi miền của đất nước, cũng như trên toàn cầu, nhưng cứ mỗi dịp lễ tết, ngày giỗ của dòng họ, ngày giỗ của các chi trong họ, các thành viên lại gặp gỡ, thăm hỏi, động viên và chia sẻ, giúp đỡ nhau trong quộc sống.</p>
            <p>Một <strong>website gia phả</strong> dòng họ cần phải có những tính năng sau</p>
            <p>- Cung cấp thông tin thường xuyên về mọi mặt của dòng họ đến các thành viên dưới hình thức tin tức, văn bản, hình ảnh, video, tin nhắn sms</p>
            <p>- Thông báo đến các thành viên trong họ trước khi có các sự kiện diễn ra như ngày giỗ, ngày kỷ niệm, khánh thành nhà thờ họ, vinh danh thành viên, hội họp, cưới hỏi, hiếu hỷ,vv..vv tất cả các sự kiện trong họ được thông báo <strong>tự động qua email và tin nhắn</strong></p>
            <p>- Lưu trữ cây gia phả bằng <strong>phần mềm gia phả online</strong> chạy trên web và điện thoại di động(android và ios)</p>
            <p>- Là nơi các thành viên có thể đăng ký thành viên, cập nhật giới thiệu bản thân đến cộng đồng dòng họ, cập nhật thông tin quộc sống, công việc, công tác, kết bạn với các thành viên khác trong dòng họ, trao đổi, liên lạc công việc trong họ</p>
            <p>- Là nơi các thành viên có thể giao dịch thương mại, giới thiệu doanh nghiệp, ngành nghề kinh doanh, hợp tác giữa các doanh nghiệp trong dòng họ, giao thương và xúc tiến thương mại nhằm giúp đỡ nhau trong kinh doanh, website là cầu nối giữa các <strong>doanh nghiệp trong dòng họ</strong></p>
            <p>- Là nơi cung cấp các mẫu gia phả đẹp cho các chi trong họ ở các địa phương, vùng miền</p>
            <p>Nhận thức được website gia phả là mái nhà chung trên mạng thông tin internet, công ty Minh Việt cho ra mắt dịch vụ thiết kế website gia phả với những cam kết như sau</p>
            <p>+ Tư vấn và thiết kế website với những mẫu website đẹp, tùy chọn theo yêu cầu riêng, phong cách trang trọng, cổ kính của từng dòng họ</p>
            <p>+ Triển khai lập trình đầy đủ các tính năng của website gia phả như tin tức, hệ thống tin nhắn, thành viên cá nhân và doanh nghiệp dòng họ kết nối.</p>
            <p>+ Bảo hành và bảo trì trọn đời.</p>
            <p>+ Nâng cấp tính năng theo yêu cầu</p>
            <p>+ Miễn phí phần mềm lưu trữ gia phả online trên website và trên điện thoại di động</p>
            <p>Mọi yêu cầu xin liên hệ</p>
            <p>Số điện thoại 0979776427, email: <a href="mailto:vnnvh80@gmail.com">vnnvh80@gmail.com</a></p>
            <p>Công ty Minh Việt, Duy Tân, Cầu Giấy, Hà Nội</p>
            <p> </p>
            <p> </p>

        </div>
        <!--Agent List Wrap End-->
    </section>
    <!--Our Agent Warp End-->
</div>
